.titulo{
    width: 35%;
    height: 110px;
    border: solid 1px #ebc999;
    margin-top: 3%;
    margin-left: 32%;
}
.botao{
    margin: 10px;
    margin-left: 40%;
}
h1{
    text-align: center;
    color: #cd7700;
    /*padding: 20px;*/
}
.tamanho{  /*caixa*/
    width: 30%;
    height: 350px;
    border: solid 1px #ebc999;
    background-color: #ebc999;

    color: black;
    text-align: center;
    border-radius: 50px 5px; /*arredondamento de bordas*/
    margin-top: 5%;
    margin-left: 35%;
    font-family: cursive;

    padding-top: 20px;
}